*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color:rgb(231, 190, 137);
    margin:40px;
    overflow-x: hidden;
    overflow-y: auto;
}
h1{
    padding: 50px;
    padding-bottom: 50px;
    font-size: 50px;
}
.container{
    display: grid;
    column-gap: 10px;
    width: 100%;
    height: 100%;
    grid-template-rows:  repeat(5,100px);
    grid-template-columns: repeat(10, 1fr);
}
.box{
    border-radius: 8px;
    text-align: center;
}

.box1{
    background-color: aquamarine;
    grid-column: 1/3;
    grid-row: 1/2;
}
.box3{
    background-color: aquamarine;
    grid-column:9/span 2;
    grid-row: 1/2;
}
.box2{
    background-color: antiquewhite;

    grid-row: 1/6;
    grid-column: 3/span 6;
   
    display: grid;
   
    column-gap: 10px;

    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,100px);
}
.box4{
    background-color: blueviolet;
    grid-column: 1/span 3;
    grid-row: 2/3;
}
.box5{
    background-color: blueviolet;
    grid-column: 4/span 3;
    grid-row: 2/3;
}
.box6{
    background-color: rgb(226, 43, 61);
    grid-column: 1/span 2;
    grid-row: 3/4;
}
.box7{
    background-color: rgb(234, 176, 18);
   
    grid-column: 3/span 4;
    grid-row: 3/4;
    display: grid;
    
    column-gap: 15px;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px repeat(2,100px);
}
.box8{
    background-color: rgb(195, 56, 176);
    grid-column: 1/span 2;
    grid-row: 2/3;
}
.box9{
    background-color: rgb(211, 51, 179);
    grid-column: 3/span 2;
    grid-row: 2/3;
}
.box10{
    background-color: rgb(81, 17, 142);
    grid-column: 1/span 4;
    grid-row: 3/4;
}