*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    overflow-x: hidden;
}
h1{
    text-align: center;
    padding: 15px 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 7rem;
    
}
.gallery img{
    width: 25%;
}

@media screen and (max-width:992px) and (min-width:600px) {
    .gallery img{
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .gallery img{
        width: 100%;
    }
}